@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron margin-v-10">
    <h1>ABC Company</h1>
    <p class="lead">ABC Company Complaints Portal</p>
</div>

<div class="row margin-v-10">    
</div>